<div *ngIf="tables">
        
    <div *ngIf="tables.length == 2; else templateForOneTables">

        <div *ngFor="let table of tables">
            <div class="col-sm-12 col-md-12 col-lg-6">

                <div *ngIf="table.tableData">
                    <mytable
                        [table] = "table">
                    </mytable>
                </div>

            </div>
        </div>
    </div>

    <ng-template #templateForOneTables>
        <div *ngFor="let table of tables">
            <div class="col-sm-12 col-md-12 col-lg-12">
                    
                <div *ngIf="table.tableData">
                    <mytable
                        [table] = "table">
                    </mytable>
                </div>

            </div>
        </div>
    </ng-template>

</div>