 .center {
    display: flex;  /* make the row a flex container */
    align-items: center; /* vertically center each flex item in the container */
  }

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}