<div class="row">
    
    <!-- Left -->
    <div class="col-lg-6">

        <div *ngFor="let web of leftArr">
            <div class="row center">
                <!-- img -->
                <div class="col-md-6 col-lg-2">
                    <font 
                        [config] = "web.getFont()">
                    </font>
                </div>
                <!-- text -->
                <div class="col-md-6 col-lg-10 text-left">
                    <h1><small>{{ web.name }}</small></h1>
                    <small>{{ web.url }}</small>
                </div>
            </div>
            <hr />
        </div>

    </div>

    <!-- Right -->
    <div class="col-lg-6">

        <div *ngFor="let web of rightArr">
            <div class="row center">
                <!-- img -->
                <div class="col-md-6 col-lg-2">
                    <font 
                        [config] = "web.getFont()">
                    </font>
                </div>
                <!-- text -->
                <div class="col-md-6 col-lg-10 text-left">
                    <h1><small>{{ web.name }}</small></h1>
                    <small>{{ web.url }}</small>
                </div>
            </div>
            <hr />
        </div>

    </div>
</div>